// @mixin font($fs, $fw, $lh) {
//     font-size: $fs;
//     font-weight: $fw;
//     line-height: $lh;
//     letter-spacing: $ls;
// }

@mixin font($fw: 500, $fs: 12px, $lh: 18px) {
  font-weight: $fw;
  font-size: $fs;
  line-height: decimal-round($lh/$fs, 2);
}