<section class="about" id="about">
  <div class="container">
    <div class="about-title">
      <p class="pre-title about-title__label">tradition and love</p>
      <h2 class="title about-title__headline">how it’s made?</h2>
    </div>
    <div class="about-description">
      <picture class="about-description__image">
        <source
          srcset="./images/about/cow-desktop.webp 1x, ./images/about/cow-desktop@2x.webp 2x"
          media="(min-width: 1200px)"
          type="image/webp"
        />
        <source
          srcset="./images/about/cow-desktop.png 1x, ./images/about/cow-desktop@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="./images/about/cow-tablet.webp 1x, ./images/about/cow-tablet@2x.webp 2x"
          media="(min-width: 768px)"
          type="image/webp"
        />
        <source
          srcset="./images/about/cow-tablet.png 1x, ./images/about/cow-tablet@2x.png 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./images/about/cow-mobile.webp 1x, ./images/about/cow-mobile@2x.webp 2x"
          media="(min-width: 320px)"
          type="image/webp"
        />
        <source
          srcset="./images/about/cow-mobile.png 1x, ./images/about/cow-mobile@2x.png 2x"
          media="(min-width: 320px)"
        />
        <img
          src="./images/about/cow-mobile.png"
          alt="Cow and milk"
        />
      </picture>
      <div class="about-description__info">
        <p class="about-description__label">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
          lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
        </p>
        <p class="about-description__text">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci
          in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna
          maximus. Cras massa nibh, tincidunt.
        <p class="about-description__sub-text">Aliquam erat volutpat. Aenean accumsan.</p>
        </p>
        <button type="button" class="btn btn-sub">Read more</button>
      </div>
    </div>
  </div>
</section>
