<section>
    <container>
        <h2 class="visually-hidden">Advantages</h2>
        <ul>
            <li>
                <h3>721</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <h3>16kg</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li>
                <h3>84</h3>
                <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </container>
</section>