<section class="advantages-section">
  <div class="container">
    <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages">
      <div class="advantages__box first">
        <li>
          <h3 class="advantages__title">721</h3>
          <p class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </div>
      <div class="advantages__box second">
        <li>
          <h3 class="advantages__title">16kg</h3>
          <p class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </div>
      <div class="advantages__box third">
        <li>
          <h3 class="advantages__title">84</h3>
          <p class="advantages__description">
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
          </p>
        </li>
      </div>
    </ul>
  </div>
</section>
