<section class="contacts">
   <div class="container">
      <div class="contacts-desctop-background"></div>
      <h2 class="visually-hidden">Контакты</h2>
      <ul class="contacts-list">
         <li class="contacts-list__item">
            <p class="contacts-list__type">CAFE</p>
            <p class="contacts-list__town">Chicago</p>
            <p class="contacts-list__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="contacts-list__time-work">
               <div class="contacts-list__time-block">
                  <p class="contacts-list__time-block-day">Monday - Friday</p>
                  <p class="contacts-list__time-block-time">06:00 AM - 10:00 PM</p>
               </div>
               <div class="contacts-list__time-block">
                  <p class="contacts-list__time-block-day">Saturday - Sunday</p>
                  <p class="contacts-list__time-block-time">08:00 AM - 16:00 PM</p>
               </div>
            </div>
            <div class="contacts-list__links">
               <a href="tel:+610383766284">+61(0) 383 766 284</a>
               <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
         </li>
         <li class="contacts-list__item">
            <p class="contacts-list__type contacts-list__type--green">FOOD TRUCK</p>
            <p class="contacts-list__town">Los Angeles</p>
            <p class="contacts-list__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="contacts-list__time-work">
               <div class="contacts-list__time-block">
                  <p class="contacts-list__time-block-day">Monday - Friday</p>
                  <p class="contacts-list__time-block-time">06:00 AM - 10:00 PM</p>
               </div>
               <div class="contacts-list__time-block">
                  <p class="contacts-list__time-block-day">Saturday - Sunday</p>
                  <p class="contacts-list__time-block-time">08:00 AM - 16:00 PM</p>
               </div>
            </div>
            <div class="contacts-list__links">
               <a href="tel:+610383766284">+61(0) 383 766 284</a>
               <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
         </li>
         <li class="contacts-list__item">
            <p class="contacts-list__type">CAFE</p>
            <p class="contacts-list__town">New York</p>
            <p class="contacts-list__description">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <div class="contacts-list__time-work">
               <div class="contacts-list__time-block">
                  <p class="contacts-list__time-block-day">Monday - Friday</p>
                  <p class="contacts-list__time-block-time">06:00 AM - 10:00 PM</p>
               </div>
               <div class="contacts-list__time-block">
                  <p class="contacts-list__time-block-day">Saturday - Sunday</p>
                  <p class="contacts-list__time-block-time">08:00 AM - 16:00 PM</p>
               </div>
            </div>
            <div class="contacts-list__links">
               <a href="tel:+610383766284">+61(0) 383 766 284</a>
               <a href="mailto:noreply@envato.com">noreply@envato.com</a>
            </div>
         </li>
      </ul>
      <div class="contacts__buts">
         <a href="#map" class="btn btn-main contacts__btn">Our Locations</a>
         <a href="#map" class="btn btn-sub">Franchise</a>
      </div>
   </div>
</section>