<section class="reviews">
  <div class="container">
    <h2 class="reviews__title visually-hidden">Customer Reviews</h2>
    <ul class="reviews__cards">
      <ul class="reviews__card">
        <img class="reviews__img" src="" alt="Reviewers photo" />
        <div class="reviews__wrap">
          <blockquote class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </blockquote>
        </div>
        <h3 class="reviews__subtitle">Emily, Los Angeles</h3>
      </ul>
      <ul class="reviews__card is-hidden">
        <img class="reviews__img" src="" alt="Reviewers photo" />
        <div class="reviews__wrap">
          <blockquote class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </blockquote>
        </div>
        <h3 class="reviews__subtitle">Sarah, Chicago</h3>
      </ul>
      <ul class="reviews__card is-hidden">
        <img class="reviews__img" src="" alt="Reviewers photo" />
        <div class="reviews__wrap">
          <blockquote class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </blockquote>
        </div>
        <h3 class="reviews__subtitle">John, Boston</h3>
      </ul>
    </ul>
    <ul class="reviews__nav">
      <li class="reviews__nav-item"></li>
      <li class="reviews__nav-item"></li>
      <li class="reviews__nav-item"></li>
    </ul>
  </div>
</section>
