<section class="reviews">
  <div class="container">
    <h2 class="reviews__title visually-hidden">Customer Reviews</h2>
    <ul class="reviews__cards">
      <ul class="reviews__card">
        <!-- <picture>
          <source
            srcset="
              ../src/images/customer-reviewers-img1.jpg 1x,
              ../src//images/customer-reviewers-img1.jpg 2x
            "
          />

          <img
            class="reviews__img"
            src="../src//images/customer-reviewers-img1.jpg 1x"
            alt="Reviewers photo"
          />
        </picture> -->
        <div class="reviews__wrap">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="reviews__subtitle">Emily, Los Angeles</h3>
      </ul>
      <ul class="reviews__card is-hidden">
        <!-- <picture>
          <source
            srcset="
              ../images/customer-reviewers-img2.jpg 1x,
              ../images/customer-reviewers-img2.jpg 2x
            "
          />

          <img
            class="reviews__img"
            src="../images/customer-reviewers-img2.jpg 1x"
            alt="Reviewers photo"
            loading="lazy"
          />
        </picture> -->
        <div class="reviews__wrap">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="reviews__subtitle">Sarah, Chicago</h3>
      </ul>
      <ul class="reviews__card is-hidden">
        <!-- <picture>
          <source
            srcset="
              ../images/customer-reviewers-img3.jpg 1x,
              ../images/customer-reviewers-img3.jpg 2x
            "
          />

          <img
            class="reviews__img"
            src="../images/customer-reviewers-img3.jpg 1x"
            alt="Reviewers photo"
          />
        </picture> -->
        <div class="reviews__wrap">
          <p class="reviews__text">
            Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
            hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
          </p>
        </div>
        <h3 class="reviews__subtitle">John, Boston</h3>
      </ul>
    </ul>
    <ul class="reviews__nav">
      <li class="reviews__nav-item"></li>
      <li class="reviews__nav-item"></li>
      <li class="reviews__nav-item"></li>
    </ul>
  </div>
</section>
