<section class="products">
    <div class="container">
        <p class="pre-title">100% natural</p>
        <h2 class="title">Products</h2>
        <ul class="products-list">
            <li class="products-list__item">
                <h3 class="products-list__title products-list__title--ice-cream">Ice cream</h3>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua facilisis.</p>
                <button class="products-list__button" type="button" data-modal-open>
                    <svg class="products-list__icon" width="17" height="16">
                        <use href="/images/symbol-defs.svg#icon-arrow"></use>
                    </svg>
                </button>
                <div class="modal is-hidden" data-modal>
                    <p class="modal__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua facilisis. Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                    <button class="products-list__button" type="button" data-modal-close>
                        <svg class="products-list__icon" width="17" height="16">
                            <use href="/images/symbol-defs.svg#icon-arrow-left"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="products-list__item products-list__item--yellow-bg">
                <h3 class="products-list__title products-list__title--coffee-png">Ice coffee</h3>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua facilisis.</p>
                <button class="products-list__button" type="button" data-modal-open>
                    <svg class="products-list__icon" width="17" height="16">
                        <use href="/images/symbol-defs.svg#icon-arrow"></use>
                    </svg>
                </button>
                <div class="modal modal--yellow-bg is-hidden" data-modal>
                    <p class="modal__text modal__text--yellow-bg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua facilisis. Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                        <button class="products-list__button" type="button" data-modal-close>
                            <svg class="products-list__icon" width="17" height="16">
                                <use href="/images/symbol-defs.svg#icon-arrow-left"></use>
                            </svg>
                        </button>
                </div>
            </li>
            <li class="products-list__item products-list__item--green-bg">
                <h3 class="products-list__title products-list__title--milkshakes-png">Milkshakes</h3>
                <p class="products-list__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua facilisis.</p>
                <button class="products-list__button" type="button" data-modal-open>
                    <svg class="products-list__icon" width="17" height="16">
                        <use href="/images/symbol-defs.svg#icon-arrow"></use>
                    </svg>
                </button>
                <div class="modal modal--green-bg is-hidden" data-modal>
                    <p class="modal__text modal__text--yellow-bg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua facilisis. Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
                    <button class="products-list__button" type="button" data-modal-close>
                        <svg class="products-list__icon" width="17" height="16">
                            <use href="/images/symbol-defs.svg#icon-arrow-left"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>        
    </div>
</section>