<section class="section">
    <div class="container">
        <p class="pre-title">100% natural</p>
        <h2 class="title">Products</h2>
        <ul class="products">
            <li class="products__item">
                <h3 class="products__title">Ice cream</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__button" type="button"></button>
            </li>
            <li class="products__item">
                <h3 class="products__title">Ice coffee</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__button" type="button"></button>
            </li>
            <li class="products__item">
                <h3 class="products__title">Milkshakes</h3>
                <p class="products__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
                <button class="products__button" type="button"></button>
            </li>
        </ul>
    </div>
</section>