<p>100% natural</p>
<h2>Products</h2>
<ul>
    <li>
        <h3 class>Ice cream</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button"></button>
    </li>
    <li>
        <h3>Ice coffee</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button"></button>
    </li>
    <li>
        <h3>Milkshakes</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
        <button type="button"></button>
    </li>
</ul>