.reviews {
  padding-top: 80px;
  &__img {
    margin: 0 auto 29px;
    border-radius: 44px;
  }
  &__wrap {
    background-color: #fafafa;
    display: flex;
    justify-content: center;
    padding: 71px 0 20px;
    margin-bottom: 52px;
  }
  &__text {
    width: 60%;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 2.5833333333;
    letter-spacing: 0.04em;
    color: #000000;
    background-image: repeating-linear-gradient(
      hsla(0, 0%, 100%, 0),
      hsla(0, 0%, 100%, 0) 29px,
      #e1e1e1 0,
      #e1e1e1 30px
    );
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 2.16;
    }
  }
  &__subtitle {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: #000000;
  }
  &__nav {
    display: flex;
    justify-content: center;
  }
  &__nav-item {
    width: 12px;
    height: 12px;
    background-color: #d9d9d9;
    border-radius: 50%;
  }
  &__nav-item:not(:last-child) {
    margin-right: 18px;
  }
}

.is-hidden {
  display: none;
}
