//********** Footer *************************//

.footer,
.copyright {
  background-color: var(--bg-light-pink-color);
}
.footer {
  border-bottom: 2px solid #e1e1e1;
}

.title__footer,
.pre-title__footer {
  text-align: start;
}

//********** End Footer *********************//

//**********  Media 480 *****************//
@media screen and (max-width: 767px) {
  .footer {
    padding-top: 117px;
    &__title {
      width: 234px;
    }
  }

  .social-networks {
    margin-top: 46px;
    padding-bottom: 43px;
  }
  .networks {
    display: flex;
    justify-content: end;

    &__item:not(:first-child) {
      margin-left: 30px;
    }
  }

  .contact-free {
    display: flex;
    justify-content: end;
    margin-top: 46px;
    font-size: 12px;
    line-height: 1.83;
  }
  .copyright-box {
    padding-top: 22px;
    padding-bottom: 25px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    &__text {
      font-size: 14px;
      line-height: 1.52;
      font-weight: 700;
      color: #907e82;
      text-align: center;
    }
  }
}
//********** End Media 480 *****************//

//**********  Media 768 *****************//
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 117px;
    padding-bottom: 91px;
    &__title {
      display: inline-flex;
      flex-flow: column wrap;
      width: 340px;
    }
  }

  .social-networks {
    display: inline-flex;
    flex-flow: column;
    margin-left: 80px;
  }
  .networks {
    display: flex;
    justify-content: end;
    &__item:not(:first-child) {
      margin-left: 30px;
    }
  }

  .contact-free {
    display: flex;
    justify-content: end;
    margin-top: 46px;
    font-size: 14px;
    line-height: 1.83;
  }

  .copyright-box {
    padding-top: 29px;
    padding-bottom: 18px;
    width: 280px;
    margin-left: auto;
    margin-right: auto;
    &__text {
      font-size: 14px;
      line-height: 1.52;
      font-weight: 700;
      letter-spacing: 0.02em;
      color: #907e82;
      text-align: center;
    }
  }
}
//********** End Media 768 *****************//
//********** Media 1280 *****************//

@media screen and (min-width: 1280px) {
  .footer {
    padding-top: 117px;
    padding-bottom: 97px;
    &__title {
      width: 484px;
    }
  }

  .networks__item:not(:first-child) {
    margin-left: 25px;
  }

  .social-networks {
    margin-left: 250px;
  }

  .contact-free {
    font-size: 16px;
    line-height: 1.83;
  }
  .copyright-box {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

//********** End Media 1280 *****************//

//********** Networks ***********************//

.networks__link {
  display: flex;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  fill: var(--svg-white-color);
  background-color: var(--svg-color);
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--svg-hover-color);
    fill: var(--svg-white-color);
  }
}

.networks__icon {
  width: 20px;
  height: 20px;
}

//********** END Networks ***********************//

//********** Contact-free ***************************//

.contact-free {
  font-weight: bold;
  color: var(--main-text-dark-color);

  &__tel {
    color: var(--svg-hover-color);
  }
}

//********** END Contact-free ***********************//
