.gallery {
  padding-top: 97px;
  background: linear-gradient(#fff5f6 70.5%, var(--main-text-light-color) 31%);
  @media screen and (min-width: 480px) {
    background: linear-gradient(#fff5f6 63%, var(--main-text-light-color) 38%);
  }
  @media screen and (min-width: 768px) {
    padding-top: 140px;
    background: linear-gradient(#fff5f6 62%, var(--main-text-light-color) 38%);
  }
  @media screen and (min-width: 1280px) {
    background: linear-gradient(#fff5f6 57.3%, var(--main-text-light-color) 43%);
  }
  &__wrap {
    margin: 0 auto;
    @media screen and (max-width: 479px) {
      width: 270px;
    }
    @media screen and (min-width: 480px) {
      width: 100%;
    }
  }
  &__img {
    width: 100%;
  }
}
